<!DOCTYPE html>
<html ng-app>
<head>
    <title></title>
    <meta charset='utf-8'>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <style>
        a {
            margin-right: 5px;
        }

        .selected {
            text-decoration: underline;
        }

        .inactive {
            pointer-events: none;
            cursor: default;
            color: darkgrey;
        }
    </style>
</head>
<body ng-controller="Controller">
<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Lines</h1>
            <table class="table table-bordered">
                <tr ng-repeat="line in page.lines">
                    <td>{{line}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div id="pagination" class="span12">
            <a ng-class="{'selected': link.selected, 'inactive': (link.page == 0)}" ng-repeat="link in page.links" href="#" data-page="{{link.page}}" ng-click="changePage($event)">{{link.text}}</a>
        </div>
    </div>
</div>
</body>
<script src="/angular.min.js"></script>
<script>
    var Controller = function ($scope, $http) {
        $scope.updateTable = function (pageIndex) {
            $http.get('/page/' + pageIndex).success(function (json) {
                $scope.page = json;
            });
        };

        $scope.changePage = function (ev) {
            $scope.updateTable(ev.target.dataset.page);
        };

        $scope.updateTable('1');
    }
</script>
</html>